img {
    width: auto;
    max-width: 100%;
    height: auto;
}

.btn {
    min-width: 75px;
}

.employeePhoto {
    position: relative;
    padding-top: 51.61458%;
    display: block;
    overflow: hidden;
}
.employeePhoto img {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    transform: translate(0,-50%);
    -webkit-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
}
.img-tmb .img {
    display: block;
    margin: 0 auto;
    width: 350px;
    max-width: 100%;
    height: auto;
    padding: 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.08);
}

.validation-summary-valid ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.validation-summary-errors ul {
    list-style: none;
    margin: 0 0 1rem;
    padding: .5rem 1rem;
    background: red;
    color: #fff;
}
.input-validation-error {
    background-color: #fff3f3;
    border: 1px solid #dc3545;
}